@font-face {
    font-family: "iconfont";
  src: url(./font/iconfont.ttf);
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingxing101-copy:before { content: "\e503"; }