@import "./common.styl"
@import "./icon.styl"

@import "./components/BaseModal.styl"
@import "./components/LoadingModal.styl"

@import "containers/index.styl"
@import "containers/demoPage.styl"
@import "containers/list.styl"
@import "containers/edit.styl"

body {
  word-break: break-all;
  word-wrap: break-word;
  background-color: #EEEFF1!important;
}
body, input, button, select, textarea, th, td {
  color: #666666;
  font-size: 14px;
  line-height: 1.4;
}

*
  margin 0
  padding 0

table
  border-spacing 0