.componentItem-container {
    background-color: #fff;
    width: 140px;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #f6f7f7;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 5px; 
}

.paperItemHead-container
  width: 860px; 
  background-color #FFF

.slideComponent-container,
.paperComponent-container{
  display: inline-block;
  vertical-align: top;
}
.paperComponent-container
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 50px;

.paperComponent-container
  padding-left: 10px;

.paperItemHead-title
  text-align: center;
  padding: 16px 57px;
  padding-right: 50px;
  border-top: 1px solid #eee;

.paperComponent-container
  width: 860px;

.paperItemHead-container
  background: #fff;

.paperItemHead-down
  height: 49px;
  border-top: 1px solid #eee;

.paperItemHead-left
  width: 50px;
  border-right: 1px solid #eee;
  display: inline-block;
  height: 49px;

.paperItemHead-down p
  display: inline-block;
  vertical-align: top;
  line-height: 49px;
  padding: 0 5px;
  width: 799px;

.edit-button-container
  height: 45px;
  line-height: 45px;
  text-align: right;
  background: #fafafa;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;

.edit-content-container
  width 1020px
  margin: auto
  margin-top 20px

.publish
.preview
.back
    color: #53a4f4;
    margin-top: 6px;
    margin-right: 11px;
    margin-left: 20px;
    width: 56px;
    border-radius: 2px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    border: 1px solid #53a4f4;
    background: none;
    cursor:pointer

.publish:hover
.preview:hover
.back:hover
  color: #fff;
  background-color: #6FC5FF

.back
  float left

.preview
.publish
  float right
  width 75px