.list-item-container{
  width: 236px;
  height: 148px;
  border: dashed 1px #b0b0b0;
  background: #ffffff;
  border-radius 5px
  margin: 5px
  display: inline-block
}
.list-item-container:hover
    box-shadow: 0px 0px 20px #838383;


.create-item-btn{
  display: block;
  height: 148px;
  color: #53a4f4;
  font-size: 24px;
  line-height: 148px;
  text-align: center;
  vertical-align: middle;
  cursor pointer
}

.list-container
  width: 992px
  margin auto
  margin-top 50px

.list-item-content-title
  display: block;
  font-size: 16px;
  max-height: 48px;
  overflow: hidden;
  width: 100%;
  line-height: 24px;
  position: relative;
  cursor: default;
  margin-top 10px
  margin-left 10px

.list-item-content-time
  color: #adadad;
  display: block;
  margin-top: 5px;
  margin-left 10px

.list-content-btn-container
  border-top: 1px solid #ccc;
  margin-top: 61px;

.list-content-btn-container div:first-child{
  display: inline-block;
  width: 118px;
  text-align: center;
  border-right: 1px solid #ccc;
  cursor pointer
  font-size: 16px;
  line-height: 28px;
}

.list-content-btn-container div:last-child{
  display: inline-block;
  width: 117px;
  text-align: center;
  cursor pointer
  font-size: 16px;
  line-height: 28px;
}